#include "defines.h"
#include "winver.h"

IDI_ICON1               ICON    AA2QTEDIT_ICON

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "aa2g"
            VALUE "FileDescription", "Artificial Academy 2 Character Editor"
            VALUE "FileVersion", AA2QTEDIT_VERSION
            VALUE "LegalCopyright", "AA2QtEdit is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version."
            VALUE "InternalName", "AA2QtEdit"
            VALUE "OriginalFilename", "AA2QtEdit.exe"
            VALUE "ProductName", "Artificial Academy 2 Character Editor"
            VALUE "ProductVersion", AA2QTEDIT_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

